/* general */

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

button, .button-like, input[type='submit'] {
  padding: 0.3rem 0.9rem;

  background-color: black;
  border: none;
  border-radius: 15px;

  cursor: pointer;

  font-size: smaller;
  font-family: var(--main-font-style);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-text-color);;
}
  
button:hover, .button-like:hover, input[type='submit']:hover {
    background-color: var(--main-text-color);
    color: black;
}

input[type='text'], input[type='number'],  input[type='password']  {
    padding: 0.3rem 1rem;

    box-sizing: border-box;

    border: none;
    border-radius: 15px;
    color: var(--main-text-color);
    background-color: black;
    font-family: var(--main-font-style);
}

input:disabled {
  opacity: 0.5;
}

.text-input {
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  margin-bottom: 0.5rem;
}


.fixed-text {

  padding: 0.3rem 1rem;

  background-color: var(--main-color-blue);
  border-radius: 15px;

  color: black;
}

.validation-error {
  padding: 0;
  margin: 0;
  color: red;
  font-size: small;
}

/* header */

#brand_icon {
  padding-right: 0.1rem;
}

#brand {
  display: none;
  justify-content: center;
  align-content: center;

  text-align: center;
  text-transform: uppercase;
  line-height: 1.6;
}

@media screen and (min-width: 760px) {
  #brand {
    padding: 0.3rem;

    display: flex;

    background-color: black;
    border-radius: 15px;
  }
}

#header {
  margin-bottom: 1rem;
}

.navbar {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: uppercase;
}

#header .navbar-element {
  height: 100%;

  padding: 0 1rem;

  display: flex;
  align-items: center;
  
  border-radius: 15px;
  background-color: black;
}

.hover {

}

#header .hover:hover {
  background-color: var(--main-text-color);
  color: black;
  cursor: pointer;
}


.navbar a {
  text-decoration: none;
}

.navbar input:focus {
  outline: none;
}

.navbar input {
  height: 100%;
  width: 100%;

  padding: 0.7rem 0 0.7rem 1rem;
  
  font-size: medium;
}

.search-submit {
  z-index: 0;
  display: flex;
  padding-left: 0.3rem;

  border-radius: 15px 15px 15px 0;

  line-height: 1;
}

.search-icon {
  position: relative;
  
  width: 2rem;
  height: 2rem;

  padding: 0.3rem;

  box-sizing: border-box;
}

.search-span {
  position: relative; 
  top: 0.5rem;
  font-size:medium;
}

.login_icon {
  position: relative;
  width: 2rem;
  height: 2rem;

  padding: 0.3rem 0;
  margin-right: 0.2rem;

  box-sizing: border-box;
}

#profile-link {
  display: flex;
}

.profile-name {
  margin-right: 0.2rem;
}

#newCounter {
  position: relative;
  top: -0.3rem;

  height: 0.1rem;
  width: 0.1rem;

  padding: 0.3rem;
  margin-left: 0.2rem;

  background-color: red;
  border-radius: 100%;

  font-size:x-small;
}

/* main container */

#main-container {
  min-height: 0;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);;
  border: 5px solid black;
  border-radius: 15px;
}

@media screen and (min-width: 760px) {
  #main-container {
    padding: 0.5rem;
  }
}

/* footer */

#footer {
  
  grid-area: 3 / 0 / 4 / 0 ;

  padding: 1.5rem 9rem;

  color: grey;
}

@media screen and (min-width: 760px) {
  #footer {
    grid-area: 3 / 2 / 4 / 3 ;
  }
}

#footer .navbar {
  display: flex;
  justify-content: space-between;
}