/* general */
*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

button,
.button-like,
input[type='submit'] {
  border: none;
  border-radius: 10px;
  background-color: black;
  padding: 0.6rem 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--main-font-style);
  font-size: smaller;
  color: var(--main-text-color);
  cursor: pointer;
}
button:hover:enabled,
.button-like:enabled:hover,
input[type='submit']:enabled:hover {
  background-color: var(--main-text-color);
  color: black;
}

button:disabled {
  cursor: auto;
}

input[type='text'],
input[type='number'],
input[type='password'] {
  border: none;
  border-radius: 10px;
  background-color: black;
  box-sizing: border-box;
  padding: 0.3rem 1rem;
  font-family: var(--main-font-style);
  color: var(--main-text-color);
}

input:disabled {
  opacity: 0.5;
}

.inactive {
  cursor: auto;
}

.yellow {
  color: rgba(0, 0, 0);
  background-color: var(--main-color-yellow);
}

.green {
  color: var(--main-text-color);
  background-color: var(--main-color-green);
}

.text-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: fit-content;
  row-gap: 0.4rem;
}

.fixed-text {
  border-radius: 15px;
  background-color: var(--main-color-blue);
  padding: 0.3rem 1rem;
  color: black;
}

.validation-error {
  margin: 0;
  padding: 0;
  font-size: small;
  color: red;
}

/* header */
#brand_icon {
  padding-right: 0.1rem;
}

#brand {
  display: none;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
}

@media screen and (min-width: 760px) {
  #brand {
    display: flex;
    border-radius: 15px;
    background-color: black;
    padding: 0.3rem;
  }
}

#header {
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
}

#header .navbar-element {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: black;
  height: 100%;
  padding: 0 1rem;
}

#header .hover:hover {
  background-color: var(--main-text-color);
  color: black;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
}

.navbar input:focus {
  outline: none;
}

.navbar input {
  height: 100%;
  width: 100%;
  padding: 0.7rem 0 0.7rem 1rem;
  font-size: medium;
}

.search-submit {
  z-index: 0;
  display: flex;
  border-radius: 10px 9px 9px 10px;
  padding-left: 0.3rem;
  line-height: 1;
}

.search-icon {
  position: relative;
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  padding: 0.3rem;
}

.search-span {
  position: relative;
  top: 0.5rem;
  font-size: medium;
}

.login_icon {
  position: relative;
  margin-right: 0.2rem;
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  padding: 0.3rem 0;
}

#profile-link {
  display: flex;
}

.profile-name {
  margin-right: 0.2rem;
}

#newCounter {
  position: relative;
  top: -0.3rem;
  border-radius: 100%;
  margin-left: 0.2rem;
  background-color: red;
  height: 0.1rem;
  width: 0.1rem;
  padding: 0.3rem;
  font-size: x-small;
}

/* main container */
#main-container {
  border: 5px solid black;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 0;
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  #main-container {
    padding: 0.5rem;
  }
}

/* footer */
#footer {
  padding: 1.5rem 9rem;
  color: grey;
  grid-area: 3 / 0 / 4 / 0;
}

@media screen and (min-width: 760px) {
  #footer {
    grid-area: 3 / 2 / 4 / 3;
  }
}

#footer .navbar {
  display: flex;
  justify-content: space-between;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
