/* general */
*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

button,
.button-like,
input[type='submit'] {
  border: none;
  border-radius: 10px;
  background-color: black;
  padding: 0.6rem 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--main-font-style);
  font-size: smaller;
  color: var(--main-text-color);
  cursor: pointer;
}
button:hover:enabled,
.button-like:enabled:hover,
input[type='submit']:enabled:hover {
  background-color: var(--main-text-color);
  color: black;
}

button:disabled {
  cursor: auto;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'] {
  border: none;
  border-radius: 10px;
  background-color: black;
  box-sizing: border-box;
  padding: 0.3rem 1rem;
  font-family: var(--main-font-style);
  color: var(--main-text-color);
}

input:disabled {
  opacity: 0.5;
}

.inactive {
  cursor: auto;
}

.yellow {
  background-color: var(--main-color-yellow);
  color: rgba(0, 0, 0);
}

.green {
  background-color: var(--main-color-green);
  color: var(--main-text-color);
}

.text-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: fit-content;
  row-gap: 0.4rem;
}

.fixed-text {
  border-radius: 15px;
  background-color: var(--main-color-blue);
  padding: 0.3rem 1rem;
  color: black;
}

.validation-error {
  margin: 0;
  padding: 0;
  font-size: small;
  color: red;
}

#brand_icon {
  padding-right: 0.1rem;
}

#brand {
  display: none;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
}
@media screen and (min-width: 760px) {
  #brand {
    display: flex;
    border-radius: 15px;
    background-color: black;
    padding: 0.3rem;
  }
}

/* header */
#header {
  height: 3rem;
}
@media screen and (min-width: 760px) {
  #header {
    margin-bottom: 1rem;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
}

#header .navbar {
  background-color: rgb(0, 0, 0);
}
@media screen and (min-width: 760px) {
  #header .navbar {
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
  }
}
@media screen and (min-width: 1600px) {
  #header .navbar {
    background-color: rgba(0, 0, 0, 0);
  }
}

#header .navbar-element {
  display: flex;
  align-items: center;
  height: 100%;
}
@media screen and (min-width: 760px) {
  #header .navbar-element {
    border-radius: 10px;
    background-color: black;
    padding: 0 1rem;
  }
}

@media screen and (min-width: 760px) {
  #header .hover:hover {
    background-color: var(--main-text-color);
    color: black;
    cursor: pointer;
  }
}

.navbar a {
  text-decoration: none;
}

.home-icon {
  position: relative;
  top: 0.2rem;
  margin-left: 0.5rem;
  height: 1.4rem;
  width: 1.4rem;
}
@media screen and (min-width: 760px) {
  .home-icon {
    position: relative;
    top: 0.1rem;
    margin-left: 0rem;
    height: 1.3rem;
    width: 1.3rem;
  }
}
@media screen and (min-width: 1600px) {
  .home-icon {
    display: none;
  }
}

.home-span {
  display: none;
}
@media screen and (min-width: 1600px) {
  .home-span {
    display: block;
  }
}

#search-bar {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
@media screen and (min-width: 760px) {
  #search-bar {
    gap: 1rem;
  }
}

.navbar input {
  height: 100%;
  width: 20rem;
  padding-top: 0.5rem;
  font-size: medium;
}
@media screen and (min-width: 1200px) {
  .navbar input {
    width: 25rem;
    padding-top: 0.3rem;
  }
}

.navbar input:focus {
  outline: none;
}

.search-submit {
  display: none;
}
@media screen and (min-width: 760px) {
  .search-submit {
    z-index: 0;
    display: flex;
    border-radius: 10px 9px 9px 10px;
    padding-left: 0.3rem;
    line-height: 1;
  }
}

.search-icon {
  position: relative;
  display: block;
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  padding: 0.3rem;
}

.search-span {
  display: none;
}
@media screen and (min-width: 1600px) {
  .search-span {
    position: relative;
    top: 0.5rem;
    display: block;
    font-size: medium;
  }
}

.plus-icon {
  position: relative;
  top: 0.2rem;
  height: 1.5rem;
  width: 1.5rem;
}
@media screen and (min-width: 1600px) {
  .plus-icon {
    top: 0.1rem;
    height: auto;
    width: auto;
  }
}

.asset-span {
  display: none;
}
@media screen and (min-width: 1600px) {
  .asset-span {
    display: inline-flex;
  }
}

.login-icon {
  position: relative;

  height: 2.2rem;
  width: 2.2rem;
  box-sizing: border-box;
  padding: 0.3rem 0;
}
@media screen and (min-width: 1600px) {
  .login-icon {
    margin-right: 0.2rem;
  }
}

#profile-link {
  display: flex;
}

.profile-dropdown {
  margin-right: 0.2rem;
}

.profile-username {
  display: none;
}
@media screen and (min-width: 760px) {
  .profile-username {
    display: block;
    font-size: smaller;
  }
}
@media screen and (min-width: 1200px) {
  .profile-username {
    font-size: medium;
  }
}

#new-counter {
  position: relative;
  top: -0.3rem;
  border-radius: 100%;
  left: -0.2rem;
  background-color: red;
  height: 0.1rem;
  width: 0.1rem;
  padding: 0.3rem;
  font-size: x-small;
}
@media screen and (min-width: 1200px) {
  #new-counter {
    margin-left: 0.4rem;
  }
}

/* main container */
#main-container {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 0;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem;
  border-width: 5px 0 5px 0;
}
@media screen and (min-width: 760px) {
  #main-container {
    border: 5px solid black;
    border-radius: 15px;
  }
}

/* footer */
#footer {
  padding: 1.5rem;
  color: grey;
}
@media screen and (min-width: 760px) {
  #footer {
    padding: 1.5rem 9rem;
    grid-area: 3 / 2 / 4 / 3;
  }
}

#footer .navbar {
  display: flex;
  justify-content: space-between;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
