@media screen and (min-width: 760px) {
  #user-settings {
    padding: 3rem;
  }
}

#user-settings-container {
  margin-bottom: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.setting-containter {
  padding: 0.5rem;
  border-right: 1px solid black;
}

.setting-containter:nth-child(2n) {
  border-right: none;
}

.setting-containter:last-child {
  padding: 0.5rem;
  border-right: none}

#user-settings .info-box {
  width: 90%;

  margin-top: 0.5rem;

  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 1rem;
}

.info-box input[type='text'],
.info-box input[type='password'],
.info-box span {
  padding: 0.4rem 0.6rem 0.3rem 0.6rem;

  background-color: rgb(0, 0, 0, 0.3);
  font-family: var(--main-font-style);

  resize: none;

  border: 2px black solid;
  border-radius: 15px;

  color: var(--main-font-color);
  font-size: smaller;;
}

input[type='file'] {
  background-color: rgb(0, 0, 0, 0.3);
  font-family: var(--main-font-style);

  resize: none;

  border: 2px black solid;
  border-radius: 15px;
}

.info-box input::file-selector-button {
  padding: 0.5rem  0.6rem 0.5rem 0.6rem;
  margin-right: 1rem;

  background-color: rgb(0, 0, 0, 0.4);

  border-radius: 0 15px 0 0;
  border: none;

  color: var(--main-text-color);

  font-family: var(--main-font-style);
}

.info-box input::file-selector-button:hover {
  background-color: var(--main-text-color);

  color: black;
}

#delete-account-box {
  padding: 2rem;

  border: 1px solid red;
  border-radius: 15px;

  background-image: repeating-linear-gradient(
    135deg,
    rgb(0, 0, 0, 0) 0%,
    rgb(0, 0, 0, 0) 2%,
    rgb(250, 0, 0, 0.4) 2%,
    rgb(250, 0, 0, 0.4) 2.5%,
    rgb(0, 0, 0, 0) 1%
  );
}

#delete-account-box button {
  background-color: rgb(0, 0, 0, 1);
  border: 1px solid red;

  color: red;
}

#delete-account-box button:hover {
  color: var(--main-text-color);
}
