@media screen and (min-width: 760px) {
  #user-settings {
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

#user-settings .info-box {
  width: 50%;

  margin-top: 0.5rem;

  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  gap: 1rem;
}

.info-box input[type="text"], .info-box input[type="password"] {
  padding: 0.rem 0.6rem;

  background-color: rgb(0, 0, 0, 0.3);
  font-family: var(--main-font-style);

  resize: none;

  border: 2px black solid;
  border-radius: 15px;
  
  color: var(--main-font-color);
}

#delete-account-box {
  padding: 2rem;

  border: 1px solid red;
  border-radius: 15px;

  background-image: repeating-linear-gradient(
    135deg,
    rgb(0, 0, 0, 0) 0%,
    rgb(0, 0, 0, 0) 2%,
    rgb(250, 0, 0, 0.4) 2%,
    rgb(250, 0, 0, 0.4) 2.5%,
    rgb(0, 0, 0, 0) 1%
  );
}

#delete-account-box button {
  background-color: rgb(0, 0, 0, 1);
  border: 1px solid red;

  color: red;
}

#delete-account-box button:hover {
  color: white;
}
