@media screen and (min-width: 760px) {
  #user-settings {
    padding: 1rem 2.5rem 1rem 2rem;
  }
}

#user-settings-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
  gap: 2rem;
}

.setting-containter {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

#user-settings .info-box {
  display: grid;
  grid-template-columns: 6fr 1fr;
  margin-top: 0.5rem;
  width: 90%;
  gap: 1rem;
}

.info-box input[type='text'],
.info-box input[type='password'],
.info-box span {
  border: 2px black solid;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.3);
  resize: none;
  padding: 0.4rem 0.6rem 0.3rem 0.6rem;
  font-family: var(--main-font-style);
  font-size: smaller;
  color: var(--main-font-color);;
}

input[type='file'] {
  border: 2px black solid;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.3);
  resize: none;
  font-family: var(--main-font-style);
}

.info-box input::file-selector-button {
  border: none;
  border-radius: 0 15px 0 0;
  margin-right: 1rem;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 0.5rem  0.6rem 0.5rem 0.6rem;
  font-family: var(--main-font-style);
  color: var(--main-text-color);
}

.info-box input::file-selector-button:hover {
  background-color: var(--main-text-color);
  color: black;
}

#delete-account-box {
  border: 1px solid red;
  border-radius: 15px;
  background-image: repeating-linear-gradient(
    135deg,
    rgb(0, 0, 0, 0) 0%,
    rgb(0, 0, 0, 0) 2%,
    rgb(250, 0, 0, 0.4) 2%,
    rgb(250, 0, 0, 0.4) 2.5%,
    rgb(0, 0, 0, 0) 1%
  );
  padding: 2rem;
}

#delete-account-box button {
  border: 1px solid red;
  background-color: rgb(0, 0, 0, 1);
  color: red;
}

#delete-account-box button:hover {
  color: var(--main-text-color);
}
