#requests {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: stretch;
  gap: 1rem;
}

#requests .request {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 15px;
  margin-right: 1rem;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 1rem;
  gap: 1rem;
  font-size: smaller;
}
@media screen and (min-width: 1200px) {
  #requests .request {
    font-size: medium;
  }
}

.accepted {
  opacity: 0.5;
  background-image: repeating-linear-gradient(
    135deg,
    rgb(0, 0, 0, 0) 0%,
    rgb(0, 0, 0, 0) 2%,
    rgba(70, 238, 28, 0.4) 2%,
    rgba(215, 243, 30, 0.4) 2.5%,
    rgb(0, 0, 0, 0) 1%
  );
}

.declined {
  opacity: 0.5;
  background-image: repeating-linear-gradient(
    135deg,
    rgb(0, 0, 0, 0) 0%,
    rgb(0, 0, 0, 0) 2%,
    rgb(255, 120, 36) 2%,
    rgb(225, 40, 8) 2.5%,
    rgb(0, 0, 0, 0) 1%
  );
}

.expired {
  opacity: 0.5;
  background-image: repeating-linear-gradient(
    135deg,
    rgb(0, 0, 0, 0) 0%,
    rgb(0, 0, 0, 0) 2%,
    rgb(255, 255, 255) 2%,
    rgb(109, 109, 109) 2.5%,
    rgb(0, 0, 0, 0) 1%
  );
}

#requests .header {
  display: flex;
  justify-content: space-between;
}

#requests .title {
  font-size: x-large;
  overflow-wrap: anywhere;
}
@media screen and (min-width: 1200px) {
  #requests .title {
    font-size: xx-large;
  }
}

#requests button {
  width: fit-content;
  place-self: end;
}
