#user-requests {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    align-items: stretch;
    height: 100%;
}

#user-requests ul {
    display: flex;
    border-radius: 10px;
    background-color: black;
    width: fit-content;
    padding: 0.3rem 1rem;
    list-style: none;
}

#user-requests ul li {
    margin: 0 1rem;
    text-transform: uppercase;
}

#user-requests-outlet {
    display: flex;
    flex-direction: column;
    height: 100%;
}