#user-requests {
    margin-top: -1rem;
}

#user-requests ul {
    display: flex;
    border-radius: 15px;
    background-color: black;
    width: fit-content;
    padding: 0.3rem 1rem;
    list-style: none;
}

#user-requests ul li {
    margin: 0 1rem;
    text-transform: uppercase;
}