@media screen and (min-width: 760px) {
    #user-container {
        min-height: 0;
        height: 100%;
        overflow: auto;
        
        display: grid;
        grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
        grid-template-rows: auto;
        column-gap: 0.5rem;
    }
}

@media screen and (min-width: 760px) {
    #user-assets {
        overflow: auto;

        display: grid;
        row-gap: 1rem;      
    }
}

@media screen and (min-width: 760px) {
    .asset {
        padding: 1rem;
        margin-right: 1rem;

        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;

        background-color: rgb(0, 0, 0, 0.4);
        border: 5px solid black;
        border-radius: 15px;
    }
} 

#user-assets .header {
    display: flex;
    justify-content: space-between;
}

#user-assets .title {
    font-size: xx-large;
}

#user-assets .kokans {
    padding: 0.3rem;

    vertical-align: top;
    background-color: rgba(253,187,45,1);
    border-radius: 100px;
    color: black;
}

#user-assets .licence {
    padding: 0.5rem 0.5rem;
    align-self:center;
    background-color: black;
    border-radius: 15px;

    font-size: smaller;
}

#user-assets .tag {
    margin-right: 1rem;
    padding: 0.3rem 0.9rem;
    
    background-color: black;
    border-radius: 15px;

    font-size: smaller;
}

@media screen and (min-width: 760px) {
    #user-info {
        min-height: 0;

        padding: 1.5rem;

        display: flex;
        flex-flow: column;
        align-items: center;

        background-color: black;
        border-radius: 15px;        
    }
} 