#user-container {
  overflow: scroll;
  min-height: 0;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
}

@media screen and (min-width: 760px) {
  #user-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 0.5rem;
  }
}

@media screen and (min-width: 760px) {
  #user-outlet {
    width: 100%;
    overflow: hidden scroll;
  }
}

#user-info-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 3px black solid;
  border-radius: 15px;
  background-color: rgb(0, 0, 0, 0.4);
  align-self: start;
  gap: 1rem;
}

@media screen and (min-width: 760px) {
  #user-info-container {
    padding: 1.5rem;
  }
}

#user-info {
  display: flex;
  flex-flow: column;
  align-items: left;
  margin: 1rem 0;
  width: 100%;
  font-size: small;
  gap: 1rem;
}
