#user-container {
  display: grid;
  grid-template-columns: auto;
  min-height: 0;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  overflow: hidden auto;
}
@media screen and (min-width: 760px) {
  #user-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 0.5rem;
  }
}

#user-outlet {
  width: 100%;
  overflow: hidden auto;
}

#user-container > #user-info-container {
  display: none;
}
@media screen and (min-width: 760px) {
  #user-container #user-info-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 3px black solid;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 1);
    padding: 2rem 1.5rem;
    align-self: start;
    gap: 1rem;
  }
}

#user-info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.6rem;
  color: var(--main-color-yellow);
  gap: 1rem;
}

#user-info {
  display: flex;
  flex-flow: column;
  align-items: left;
  width: 100%;
  box-sizing: border-box;
  font-size: small;
  gap: 1rem;
}
