#new-asset-container {
    padding: 3rem;
}

#new-asset-container .text-area {
    padding: 1rem;

    background-color: rgb(0, 0, 0, 0.3);
    font-family: var(--main-font-style);

    resize: none;

    border: 2px black solid;
    border-radius: 15px;
    
    color: var(--main-font-color);
}

#new-asset-container .new-asset {
    background-color: rgb(0, 0, 0, 0.3);

    resize: none;

    border: 2px black solid;    
}