#new-asset-container {
    min-height: 0;
    height: 100%;

    padding: 1rem 3rem;

    box-sizing: border-box;

    overflow: scroll;
    }

#new-asset-container .text-area {
    padding: 1rem;

    background-color: rgb(0, 0, 0, 0.3);
    font-family: var(--main-font-style);

    resize: none;

    border: 2px black solid;
    border-radius: 15px;
    
    color: var(--main-font-color);
}

#new-asset-container .new-asset {
    background-color: rgb(0, 0, 0, 0.3);



    border: 2px black solid;    
}

#new-asset-container .text-input {
    display: flex;
    align-items: start;
  }

.new-asset-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

