#assets {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  overflow: hidden scroll;
  gap: 0.5rem;
}
@media screen and (min-width: 760px) {
  #assets {
    gap: 1rem;
  }
}

#assets input[type='text'] {
  padding: 0.5rem 1rem; /*1rem on general input[type='text']*/
}

.description {
  overflow-wrap: anywhere;
}
