#assets {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  min-height: 0;
  height: 100%;
  overflow: hidden scroll;
  row-gap: 0.5rem;
}

#assets input[type='text'] {
  padding: 0.5rem 1rem; /*1rem on general input[type='text']*/
}

.description {
  overflow-wrap: anywhere;
}