#asset-container {
  min-height: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden auto;
  padding: 1rem;
}
@media screen and (min-width: 760px) {
  #asset-container {
    padding: 3rem;
  }
}

#asset-container .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
@media screen and (min-width: 760px) {
  #asset-container .header {
    display: flex;
    flex-direction: row;
  }
}

#asset-container .title {
  word-break: break-all;
  font-size: xx-large;
  overflow-wrap: anywhere;
}

#asset-container .kokans {
  display: inline-block;
  border-radius: 5px;
  margin-right: 0.5rem;
  background-color: var(--main-color-yellow);
  min-width: 1ch;
  padding: 0.1rem 0.3rem;
  vertical-align: super;
  color: rgb(0, 0, 0);
  align-self: baseline;
  text-align: center;
}

.interaction {
  display: flex;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.4);
  height: fit-content;
  width: fit-content;
  gap: 1rem;
}
@media screen and (min-width: 760px) {
  .interaction {
    flex-direction: column;
  }
}
@media screen and (min-width: 1600px) {
  .interaction {
    flex-direction: row;
  }
}

.asset-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  height: fit-content;
  font-size: small;
  gap: 1rem;
}

#asset-container .additional-info {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.4);
  width: fit-content;
  padding-right: 0.6rem;
}

#assets .asset-footer,
#user-assets .asset-footer {
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.4);
  gap: 0.5rem;
}

#assets .additional-info,
#user-assets .additional-info {
  display: none;
}
@media screen and (min-width: 760px) {
  #assets .additional-info,
  #user-assets .additional-info {
    display: grid;
    grid-template-columns: 1fr 11fr;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 100%;
  }
}

#asset-container .info-type {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-right: 0.5rem;
  background-color: rgb(0, 0, 0, 1);
  padding: 0.5rem 0.9rem;
}

#assets .info-type,
#user-assets .info-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 1);
  padding: 0.5rem 0.9rem;
}

.tag-container {
  display: flex;
  overflow-x: scroll;
}

.asset-footer .info {
  display: inline-block;
  align-self: center;
  padding: 0.5rem 0.9rem;
  text-align: center;
}
