.AlertDialogOverlay {
  position: fixed;
  background-color: rgba(136, 136, 104, 0.8);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  inset: 0;
}

.AlertDialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 1);
  max-height: 85vh;
  max-width: 500px;
  width: 90vw;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
}

.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  color: var(--main-color-yellow);
}

.AlertDialogDescription {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.5;
  color: var(--mauve11);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
