.DropDownMenuTrigger {
  display: flex;
  align-items: center;
}

.DropDownMenuTrigger .login-icon {
  height: 2rem;
  width: 2rem;
}

.DropDownMenuContent {
  position: relative;
  top: 0.45rem;
  right: 4.3rem;
  display: inline-block;
  align-items: center;
  border-top: 1px solid grey;
  background-color: rgba(0, 0, 0, 1);
  width: 160%;
  box-sizing: border-box;
  padding: 1rem 0;
  text-transform: uppercase;
}
@media screen and (min-width: 760px) {
  .DropDownMenuContent {
    top: 1.3rem;
    right: 1.9rem;
    border: 0;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.DropdownMenuItem {
  padding: 0.5rem 0;
  color: var(--main-text-color);
  text-align: center;
  cursor: pointer;
}
.DropdownMenuItem:hover {
  text-decoration: underline var(--main-text-color);
}

.DropdownMenuItem a {
  color: black;
}

.DropdownMenuItem:focus {
  outline: none;
}

.DropdownMenuArrow {
  display: none;
}
