.AvatarRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 100%;
  background-color: var(--main-color-blue);
  width: 70%;
  overflow: hidden;
  vertical-align: middle;
  user-select: none;
  aspect-ratio: 1/1;
}

.AvatarImage {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.AvatarFallback {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-blue);
  height: 100%;
  width: 100%;
  padding: 3rem;
  color: black;
}
