.SliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    height: 1.5rem;
    width: 10rem;
    user-select: none;
    touch-action: none;
  }
  
  .SliderTrack {
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    background-color: black;
    height: 3px;
  }
  
  .SliderRange {
    position: absolute;
    border-radius: 9999px;
    background-color: var(--main-color-yellow);
    height: 100%;
  }
  
  .SliderThumb {
    display: block;
    border-radius: 15px;
    background-color: rgb(25, 25, 25);
    height: 20px;
    width: 20px;
  }
  .SliderThumb:hover {
    filter: grayscale(70%);
  }
  .SliderThumb:focus {
    outline: none;
  }
  